<html lang="en">
<head>
    <link rel="stylesheet" href="/css/styles.css">
    <title>About</title>
</head>
<body>
    {{>header}}
    <br>
    <p>created by Tom Magin</p>
    <span>{{title}}</span>
    <span>{{name}}</span>
    <br>
    <img src="../../images/robot.png" alt="" id="robot"/>
    <br>
    {{>footer}}
</body>
</html>