<html lang="en">
<head>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Help</title>
</head>
<body>
    {{>header}}
    <br>
    <span>{{title}}</span>
    <span>{{name}}</span>
    <p>{{helpText}}</p>
    <br>
    {{>footer}}
</body>
</html>