<html lang="en">
<head>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Weather</title>
</head>
<body>
    {{>header}}
    <br>
    <p>{{error}}</p>
    <img src="../../images/404.png" alt="" id="not">
    <br>
    {{>footer}}
</body>
</html>